<robot name="test_robot">
  <link name="base_link"/>

  <!-- body -->
  <link name="body_link">
    <visual>
      <geometry>
        <mesh filename="package://Easys_description/model/stl/easys.stl"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>

  <joint name="body_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="body_link"/>
  </joint>


  <!-- left up thruster -->
  <link name="left_up_thruster_link">
  </link>

  <joint name="left_up_thruster_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="left_up_thruster_link"/>
    <origin xyz="0.08255 0 0.22255" rpy="0 0.785 0"/>
  </joint>


  <!-- right up thruster -->
  <link name="right_up_thruster_link">
  </link>

  <joint name="right_up_thruster_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="right_up_thruster_link"/>
    <origin xyz="-0.08255 0 0.22255" rpy="0 0.785 3.14"/>
  </joint>


  <!-- left down thruster -->
  <link name="left_down_thruster_link">
  </link>

  <joint name="left_down_thruster_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="left_down_thruster_link"/>
    <origin xyz="0.116 0.04715 0.1215" rpy="0 0 -1.57"/>
  </joint>


  <!-- right down thruster -->
  <link name="right_down_thruster_link">
  </link>

  <joint name="right_down_thruster_joint" type="fixed">
    <parent link="base_link"/>
    <child  link="right_down_thruster_link"/>
    <origin xyz="-0.116 0.04715 0.1215" rpy="0 0 -1.57"/>
  </joint>


</robot>